#main-page {
    background-color:beige;
    font-family: 'Norse', sans-serif;
    font-size: 32px;
}

#baklava-page {
    background-color:beige;
    color:darkslategray;
    font-family:cursive;
}

